grey = #ccc
grey-dk = #666
grey-lt = #efefef


bg-size(w, h)
  -webkit-background-size w h
  -moz-background-size w h
  -ms-background-size w h
  -o-background-size w h

hidden()
  text-indent -9999px
  overflow hidden

border-radius(tl, tr=null, br=null, bl=null)
  if tr == null
    -webkit-border-radius tl
    -moz-border-radius tl
    -o-border-radius tl
    border-radius tl
  else
    -webkit-border-radius tl tr br bl
    -moz-border-radius tl tr br bl
    -o-border-radius tl tr br bl
    border-radius tl tr br bl

box-shadow(x, y, blur, color)
  -webkit-box-shadow x y blur color
  -moz-box-shadow x y blur color
  -o-box-shadow x y blur color
  box-shadow x y blur color

inset-shadow(x, y, blur, color)
  -webkit-box-shadow inset x y blur color
  -moz-box-shadow inset x y blur color
  -o-box-shadow inset x y blur color
  box-shadow inset x y blur color

one-side-shadow(x, y, blur, color)
  // blur should be negative pixels
  -webkit-box-shadow 0 x y blur color
  -moz-box-shadow 0 x y blur color
  -o-box-shadow 0 x y blur color
  box-shadow 0 x y blur color